.nyp {
    
    .suggested-amounts {
        border: 0;
        display: grid;
        margin: 2rem 0;
        padding: 0;
        grid-gap: .5rem;
        grid-template-columns: repeat(2,minmax(0,1fr));

        .suggested-amounts__amount {

            label {
                border: 1px solid;
                cursor: pointer;
                font-weight: normal;
                padding: .5em 1em;
                text-align: center;

                .amount {
                    font-size: inherit;
                }
            }

            input[type=radio] {
                display: none;
            }

            input[type=radio]:checked+label {
                font-weight: bold;
                color: var( --wc-primary-text, #FFF );
                background: var( --wc-primary, #111 );
                border: 1px solid transparent;
            }

        }

    }

}

/**
 * Desktop
 */
@media (min-width: 320px) {
    .nyp .suggested-amounts {
        grid-template-columns: repeat(4,minmax(0,1fr));
    }
}