#general_product_data .nyp_suggested_amounts .wc_input_price {
  float: none; }
#general_product_data .add_nyp_suggested_amount .add_prompt {
    vertical-align: middle; }
#general_product_data .add_nyp_suggested_amount #nyp_suggested_amount {
  width: 250px;
  line-height: 2em;
  float: none;
  vertical-align: middle; }
#wc_nyp_suggested_amounts {
  float: none !important;
  border-bottom: 0; }
#wc_nyp_suggested_amounts .wc_nyp_suggested_amount{
  border: 1px solid #ccc;
  margin-bottom: 1em !important; }