$gray: #999;
$customizer_blue: #007cba;

#general_product_data {

    .toggle {
        input[type="checkbox"] { 
            display: none;
        
            &:checked + .description > .wc-nyp-input-toggle {
                border: 2px solid $customizer_blue;
                background-color: $customizer_blue;
                &::before {
                    transform: translateX(16px);
                }
            }
        }

        .description > .wc-nyp-input-toggle {
            float: none;
            margin: 0;
            height: 16px;
            width: 32px;
            border: 2px solid $gray;
            background-color: $gray;
            display: inline-block;
            text-indent: -9999px;
            border-radius: 10em;
            position: relative;
            margin-top: -1px;
            vertical-align: text-top;

            &::before {
                content: "";
                display: block;
                width: 16px;
                height: 16px;
                background: #fff;
                position: absolute;
                top: 0;
                left: 0;
                border-radius: 100%;
                transition: transform 0.2s ease, background 0.2s ease;
            }

            &:hover {
                background-color: darken( $gray, 20 );
                border-color: darken( $gray, 20 );
            }

        }

    }
    
    .wc_nyp_add_suggested_amounts {
        .wc_input_price {
            float: none;
        }

        .add_prompt {
            &::before { vertical-align: middle; }
        }
    }

    #wc_nyp_suggested_amounts {
        float: none !important;
        border-bottom: 0;
        width: auto;
        max-width: 80%;

        .wc_nyp_suggested_amount{
            border: 1px solid #ccc;
            margin-bottom: 1em !important;
        }
    }

}
    
@media only screen and (max-width:1280px) {
    #wc_nyp_suggested_amounts {
        max-width: 50%;
    }
}